* {
    padding: 0;
    margin: 0;
}

/* nav */

.navbar-brand {
    margin-left: 20px;
    font-size: 220%;
    letter-spacing: 2px;
    color: white;
}

.nav-link {
    color: white;
}


/* Footer */

footer {
    background-color: #2B4570;
    color: white;
    height: 75px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer>p {
    margin-top: 40px;
    font-size: 110%;
    padding-top: 25px;
}

/* Cards */

.about {
    margin-top: 30px;
}

.about img {
    height: 300px;
}

/* Colours */

body {
    background-color: #A8D0DB;
}

nav {
    background-color: #2B4570;
}

#card1 {
    border: 5px solid #7180AC;
}

#card2 {
    border: 5px solid #E49273;
}

#card3 {
    border: 5px solid #A37A74;
}

/* i frame */

.address {
    text-align: center;
    margin-top: 20px;
}

/* Review */

.review {
    margin-top: 20px;
}

.review button {
    background-color: #2B4570;
    color: white;
}