/* Global style */
* {
    padding: 0;
    margin: 0;
}

/* Nav */
.navbar-brand {
    margin-left: 20px;
    font-size: 220%;
    letter-spacing: 2px;
    color: white;
}

.nav-link {
    color: white;
}

/* Footer */
/* https: //stackoverflow.com/questions/40853952/bootstrap-footer-at-the-bottom-of-the-page */
footer {
    background-color: #2B4570;
    color: white;
    text-align: center;
}

footer>p {
    font-size: 110%;
    padding-top: 10px;
}

footer a {
    color: white;
}

#contact-us {
    padding-top: 0px;
}

/* Hero Image */
#hero-image {
    height: 400px;
    width: 100%;
    background: url("https://res.cloudinary.com/dcuhp2osv/image/upload/v1700680280/hero-image-cafe_d7dxhd.jpg") no-repeat center center;
    background-size: cover;
}

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 130%;
    text-transform: uppercase;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(10, 10, 10, 0.582);

    bottom: 30px;
    left: 150px;
    position: absolute;
}

/* Cards */
.about {
    margin-top: 30px;
}

.about img {
    height: 300px;
}

/* Colours */
body {
    background-color: #A8D0DB;
}

nav {
    background-color: #2B4570;
}

#card1 {
    border: 5px solid #7180AC;
}

#card2 {
    border: 5px solid #E49273;
}

#card3 {
    border: 5px solid #A37A74;
}

.color1 {
    background-color: #7180AC;
}

.color2 {
    background-color: #E49273;
}

.color3 {
    background-color: #A37A74;
}

/* i frame */
.address {
    text-align: center;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    border: 5px solid #7180AC;
}

/* https: //stackoverflow.com/questions/21140338/convert-place-name-address-to-google-maps-url-and-iframe */
.iframe {
    height: 300px;
    width: 100%;
}

/* Review */
.submit-review {
    margin-top: 20px;
    text-align: center;

}

.submit-review button {
    background-color: #2B4570;
    color: white;
}

.reviews {
    margin-top: 20px;
    text-align: center;
    height: 500px;
    overflow-y: auto;
    background-color: white;
    border-radius: 10px;
    border: 5px solid #A37A74;
}

.card-body {
    height: 150px;
}

.address-reviews-position {
    padding-bottom: 25px;
}

/* Submit buttons */
.submit-button {
    background-color: #2B4570;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

/* Links */
.link {
    color: #2B4570;
    text-decoration: none;
}

.contact-link {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

/* Logo 
https: //stackoverflow.com/questions/43226511/how-can-i-center-an-image-in-bootstrap*/
.logo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid #E49273;
    margin-top: 75px;
}

/* Menu page */
.menu-card {
    height: auto;
    font-size: 110%;
}

/*https://picjumbo.com/roasted-coffee-beans/*/
#coffee-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #E49273;
    margin-top: 5px;
}

/*https://centreforhealthyaging.org/wp-content/uploads/2014/03/loose-tea-vs-teabag.jpg*/
#tea-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #A37A74;
    margin-top: 5px;
}

/*https://www.marmiton.org/recettes/recette_pains-au-chocolat_29672.aspx*/
#snack-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #7180AC;
    margin-top: 5px;
}

#CollapsibleThree {
    margin-bottom: 15px;
}

.menu-table {
    width: 100%;
}

.menu-table tr {
    border-bottom: 1px solid #ddd;
}

/*  Customer-Booking Form */
#customer-booking {
    margin-top: 1.3em;
}

#customer-booking input {
    border: 2px solid #A37A74;
    border-radius: 4px;
}

/* Forms */
#review-form {
    margin-top: 1.3em;
}

.center-form {
    text-align: center;
    margin-top: 20px;
}

#edit-user-form input {
    border: 2px solid #A37A74;
    border-radius: 4px;
}

#edit-booking-form input {
    border: 2px solid #A37A74;
    border-radius: 4px;
}

#review-form textarea,
select {
    border: 2px solid #E49273;
    border-radius: 4px;
}

#signup-form input {
    border: 2px solid #A37A74;
    border-radius: 4px;
}

#signin-form input {
    border: 2px solid #A37A74;
    border-radius: 4px;
}

#contact-form input {
    border: 2px solid #A37A74;
    border-radius: 4px;
}

#contact-form textarea {
    border: 2px solid #A37A74;
    border-radius: 4px;
}

/* datepicker */
.highlighted-date a {
    color: red !important;
}

/*https: //stackoverflow.com/questions/43492742/how-to-use-the-disabled-attribute-for-a-a-tag-in-html*/
.highlighted-date {
    pointer-events: none;
}

/* Profile page */
.profile {
    margin-top: 30px;
}

.welcome {
    border: 5px solid #7180AC;
}

.bookings {
    margin-top: 30px;
    border: 5px solid #A37A74;
    height: 350px;
    overflow-y: scroll;
}

.bookings tr {
    border-bottom: 1px solid #ddd;
}

.no-booking {
    margin-top: 30px;
    font-size: 150%;
}

#booking-table {
    width: 100%;
}

.profile-icon {
    margin-left: 10px;
    font-size: 110%;
    color: #2B4570;
}

td > a {
    text-decoration: none;
}

#edit-account {
    text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 576px) {
    #card2 {
        margin-top: 15px;
        margin-bottom: 15PX;
    }

    .logo {
        margin-top: 15px;
    }
}

/*https: //www.sitepoint.com/bootstrap-grid-mastering-flexbox/#:~:text=Every%20direct%20child%20element%20of%20a%20flex%20container,sets%20the%20horizontal%20direction%20from%20right%20to%20left*/
@media screen and (max-width: 992px) {
    #logo-position {
        order: 1;
    }

    .logo {
        margin-top: 15px;
    }

    #card2 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #cover-text {
        left: 0;
    }
}

@media screen and (max-width: 366px) {
    .nav-link {
        font-size: 77%;
    }

}