* {
    padding: 0;
    margin: 0;
}

/* nav */

.navbar-brand {
    margin-left: 20px;
    font-size: 220%;
    letter-spacing: 2px;
    color: white;
}

.nav-link {
    color: white;
}


/* Footer */

footer {
    background-color: #2B4570;
    color: white;
    height: 75px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer>p {
    margin-top: 40px;
    font-size: 110%;
    padding-top: 25px;
}

/* Cards */

.about {
    margin-top: 30px;
}

.about img {
    height: 300px;
}

/* Colours */

body {
    background-color: #A8D0DB;
}

nav {
    background-color: #2B4570;
}

#card1 {
    border: 5px solid #7180AC;
}

#card2 {
    border: 5px solid #E49273;
}

#card3 {
    border: 5px solid #A37A74;
}

/* i frame */

.address {
    text-align: center;
    margin-top: 20px;
    background-color: #7180AC;
    border-radius: 10px;
    border: 5px solid black;

}

/* Review */

.submit-review {
    margin-top: 20px;
    text-align: center;

}

.submit-review button {
    background-color: #2B4570;
    color: white;
}

.reviews {
    margin-top: 20px;
    text-align: center;
    height: 500px;
    overflow-y: auto;
    background-color: #A37A74;
    border-radius: 10px;
    border: 5px solid black;

}

.card-body {
    height: 150px;
}

/* Sign up */

.sign-up-btn {
    background-color: #2B4570;
    border-radius: 5px;
    color: white;
}

.link {
    color: #2B4570;
}