{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center">
      <form method="post" id="customer-booking">
        {{ customer_form | crispy }} {{ booking_form | crispy }} {%csrf_token %}
        <button type="submit" class="btn btn-lg booking-submit">Submit</button>
      </form>
    </div>
    <div class="d-flex justify-content-center">
      If you would like to view your booking or make changes, please visit your
      <a href="{% url 'display_booking' %}"
        ><i class="fas fa-user profile-icon"></i
      ></a>
    </div>
  </div>
</div>
{%endblock%}
