{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %} {%
load widget_tweaks %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 offset-md-4">
      <form method="post" id="customer-booking">
        {{ customer_form | crispy }} {{ booking_form | crispy }} {%csrf_token %}
        <button type="submit" class="btn btn-lg review-submit">Submit</button>
      </form>
      <div>
        If you would like to view your booking or make changes please visit your
        <a href="{% url 'display_booking' %}">profile</a>
      </div>
    </div>
  </div>
</div>
{%endblock%}
