{% extends "base.html" %} {% block content %}
<!-- Contact us form -->
<section class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 center-form">
            <h1>Contact Us:</h1>
            <form method="POST" action="{% url 'mail' %}" id="contact-form">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" rows="3" id="message" required></textarea>
                    </div>
                    <div>
                        <p>
                            <button type="submit" class="btn btn-lg submit-button" aria-label="Submits contact form">
                                Submit
                            </button>
                        </p>
                    </div>
            </form>
        </div>
    </div>
</section>
{%endblock%}