{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
<!-- Edit booking form -->
<section class="container">
  <div class="row">
    <div class="col-sm-12 center-form">
      <h1>Edit booking:</h1>
      <form method="POST" id="edit-booking-form">
        {% csrf_token %} {{customer_form | crispy }} {{ booking_form | crispy }}
        <div>
          <p>
            <button type="submit" class="btn btn-lg submit-button">
              Update booking
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
{%endblock%}
