{% extends "base.html" %} {% block content %} 
<section>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Games</h1>
            <p class="lead text-center">
                Please see a list of all our games below. If we do not have your favorite please feel free to bring it with you.
            </p>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-sm-4 center-form">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill games-1">Acquire</li>
                <li class="list-group-item flex-fill games-1">Acronymble</li>
                <li class="list-group-item flex-fill games-1">Agricola</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item flex-fill games-1">Bailout! The Game</li>
                <li class="list-group-item flex-fill games-1">Buccaneer</li>
                <li class="list-group-item flex-fill games-1">Catan</li>
            </ul>
            <ul class="list-group list-group-horizontal-md">
                <li class="list-group-item flex-fill games-1">Conspiracy</li>
                <li class="list-group-item flex-fill games-1">Dominion</li>
                <li class="list-group-item flex-fill games-1">Don't Quote Me</li>
            </ul>
            <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item flex-fill games-1">Enchanted Forest</li>
                <li class="list-group-item flex-fill games-1">Escape from Atlantis</li>
                <li class="list-group-item flex-fill games-1">Fictionary</li>
            </ul>
            <ul class="list-group list-group-horizontal-xl">
                <li class="list-group-item flex-fill games-1">Focus</li>
                <li class="list-group-item flex-fill games-1">The Great Train Robbery</li>
                <li class="list-group-item flex-fill games-1">History of the World</li>
            </ul>
            <ul class="list-group list-group-horizontal-xxl">
                <li class="list-group-item flex-fill games-1">Hooop!</li>
                <li class="list-group-item flex-fill games-1">I'm the Boss!</li>
                <li class="list-group-item flex-fill games-1">Java</li>
            </ul>
        </div>
        <div class="col-sm-4 center-form">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill games-2">Journey Through Europe</li>
                <li class="list-group-item flex-fill games-2">Karuba</li>
                <li class="list-group-item flex-fill games-2">Kingdoms</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item flex-fill games-2">Labyrinth</li>
                <li class="list-group-item flex-fill games-2">Landslide</li>
                <li class="list-group-item flex-fill games-2">Mall Madness</li>
            </ul>
            <ul class="list-group list-group-horizontal-md">
                <li class="list-group-item flex-fill games-2">Masterpiece</li>
                <li class="list-group-item flex-fill games-2">Near and Far</li>
                <li class="list-group-item flex-fill games-2">Niagara</li>
            </ul>
            <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item flex-fill games-2">Ouija</li>
                <li class="list-group-item flex-fill games-2">Outrage!</li>
                <li class="list-group-item flex-fill games-2">Pack & Stack</li>
            </ul>
            <ul class="list-group list-group-horizontal-xl">
                <li class="list-group-item flex-fill games-2">Parcheesi</li>
                <li class="list-group-item flex-fill games-2">Parqués</li>
                <li class="list-group-item flex-fill games-2">Pictionary</li>
            </ul>
            <ul class="list-group list-group-horizontal-xxl">
                <li class="list-group-item flex-fill games-2">Power Grid</li>
                <li class="list-group-item flex-fill games-2">Probe</li>
                <li class="list-group-item flex-fill games-2">Puzzle</li>
            </ul>
        </div>
        <div class="col-sm-4 center-form">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill games-3">Qin</li>
                <li class="list-group-item flex-fill games-3">Quoridor</li>
                <li class="list-group-item flex-fill games-3">Qwirkle</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item flex-fill games-3">Ra</li>
                <li class="list-group-item flex-fill games-3">Rail Baron</li>
                <li class="list-group-item flex-fill games-3">Railway Rivals</li>
            </ul>
            <ul class="list-group list-group-horizontal-md">
                <li class="list-group-item flex-fill games-3">Rummikub</li>
                <li class="list-group-item flex-fill games-3">Samurai</li>
                <li class="list-group-item flex-fill games-3">San Marco</li>
            </ul>
            <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item flex-fill games-3">Scattergories</li>
                <li class="list-group-item flex-fill games-3">Scene It?</li>
                <li class="list-group-item flex-fill games-3">Scotland Yard</li>
            </ul>
            <ul class="list-group list-group-horizontal-xl">
                <li class="list-group-item flex-fill games-3">Take It Easy</li>
                <li class="list-group-item flex-fill games-3">Through the Desert</li>
                <li class="list-group-item flex-fill games-3">Top Secret Spies</li>
            </ul>
            <ul class="list-group list-group-horizontal-xxl">
                <li class="list-group-item flex-fill games-3">Ubongo</li>
                <li class="list-group-item flex-fill games-3">Vanished Planet</li>
                <li class="list-group-item flex-fill games-3">Yahtzee</li>
            </ul>
    </div>
</section>
{%endblock%}