{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}

<section class="container about">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card" id="card1">
        <img
          src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694442030/zwycdd3okwn47wocf5m2.jpg"
          class="card-img-top"
          alt="coffee and boardgames"
        />
        <div class="card-body">
          <p class="card-text">
            <strong>MENU & GAMES:</strong>
            <p>You can see our Menu here: <a href="{% url 'menu' %}">Menu</a></p>
            <p>For a list of our games please check here: <a href="#">Games</a></p>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card" id="card2">
        <img
          src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694450999/pxfzbjvycufwsmodtl8e.jpg"
          class="card-img-top"
          alt="people playing boardgames"
        />
        <div class="card-body">
          <p class="card-text">
          <strong>ABOUT:</strong>
          <p>This Dublin city center cafe is the ideal place to grab a coffee and play some boardgames with friends.</p>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card" id="card3">
        <img
          src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694447368/aljzlwdpk7iw7sgjh4cj.jpg"
          class="card-img-top"
          alt="coffee with a person playing a game in the background"
        />
        <div class="card-body">
          <p class="card-text">
           <strong>OPENING HOURS:</strong>
           <p>Mon-Sun 10:00am-12:00am</p>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container address-reviews-position">
    <div class="row">
        <div class="col-lg-4 address col-md-12">
            <h3><strong>ADDRESS:</strong></h3>
            <p>Cafe-Board,<br>Donegal street,<br>Dublin</p>
            <iframe src="https://bit.ly/2QVfkiy" height="300" width="100%"></iframe>
        </div>
        {% if user.is_authenticated %}
        <div class="col-lg-4 submit-review col-md-12">
                <h3>Leave a Review:</h3>
                <form method="post" action="{% url 'review' %}" id="review-form">
                    {{ review_form | crispy }} {% csrf_token %}
                    <button type="submit" class="btn btn-lg submit-button">Submit</button>
                </form>
                </div>
                {% else %}
                <div class="col-lg-4 col-md-12" id="logo-position">
                    <div class="col d-flex justify-content-center">
                        <img class="logo" src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694797798/yfx7pvjje62dvikwigec.png" alt="cafe-board logo">
                    </div>
                </div>
                {% endif %}

                <div class="col-lg-4 reviews col-md-12">
                <h3>Reviews:</h3>
                <div class="card-body"> 
                    {% for review in reviews %}
                    <div>
                        <p>
                            <strong>{{ review.name }}</strong>
                            <span>
                                
                                {{ review.created_on }}
                                
                            </span>
                            <span>{{review.stars}}<i class="fas fa-star" style="color: #f9e406;"></i></span>
                        </p>
                        {{ review.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
                </div>
        </div>
</section>
{%endblock%}
