{% extends "base.html" %} {% block content %}

<section class="container about">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 25rem">
        <img
          src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694442030/zwycdd3okwn47wocf5m2.jpg"
          class="card-img-top"
          alt="coffee and boardgames"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 25rem">
        <img
          src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694450999/pxfzbjvycufwsmodtl8e.jpg"
          class="card-img-top"
          alt="people playing boardgames"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 25rem">
        <img
          src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694447368/aljzlwdpk7iw7sgjh4cj.jpg"
          class="card-img-top"
          alt="coffee with a person playing a game in the background"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
