{% extends "base.html" %} {% block content %}
<!-- Menu jumbotron -->
<section>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Menu</h1>
      <p class="lead text-center">
        Please see a list of all our menu items below. For any allergies or
        dietary requirements please speak to a member of staff.
      </p>
    </div>
  </div>
</section>
<!-- Coffee collapsible -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="card color1">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-center">
                <button class="btn btn-block" type="button" id="collapseOne">
                  Coffee
                </button>
              </h2>
            </div>
            <div id="CollapsibleOne" class="collapse">
              <div class="card-body menu-card text-center">
                <img src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694899776/ntoqrrffhe0qeaw4r16u.webp" alt="coffee beans spelling out coffee" id="coffee-image"/>
                <br />
                <table class="menu-table">
                  <tr>
                    <th>Espresso</th>
                    <td>&euro;3.00</td>
                  </tr>
                  <tr>
                    <th>Double Espresso</th>
                    <td>&euro;4.50</td>
                  </tr>
                  <tr>
                    <th>Latte</th>
                    <td>&euro;4.00</td>
                  </tr>
                  <tr>
                    <th>Caramel Latte</th>
                    <td>&euro;4.50</td>
                  </tr>
                  <tr>
                    <th>Cappuccino</th>
                    <td>&euro;4.00</td>
                  </tr>
                  <tr>
                    <th>Americano</th>
                    <td>&euro;3.00</td>
                  </tr>
                  <tr>
                    <th>Mocha</th>
                    <td>&euro;4.00</td>
                  </tr>
                  <tr>
                    <th>Iced Coffee</th>
                    <td>&euro;4.00</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Tea collapsible -->
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="card color2">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-center">
                <button class="btn btn-block" type="button" id="collapseTwo">
                  Tea
                </button>
              </h2>
            </div>

            <div id="CollapsibleTwo" class="collapse">
              <div class="card-body menu-card text-center">
                <img src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694900391/o8bfciemjj2w2tnntr5a.jpg" alt="Cup of tea" id="tea-image"/>
                <br />
                <table class="menu-table">
                  <tr>
                    <th>Irish Breakfast Tea</th>
                    <td>&euro;3.00</td>
                  </tr>
                  <tr>
                    <th>Peppermint</th>
                    <td>&euro;3.50</td>
                  </tr>
                  <tr>
                    <th>Camomile</th>
                    <td>&euro;3.50</td>
                  </tr>
                  <tr>
                    <th>Wild Berry</th>
                    <td>&euro;3.50</td>
                  </tr>
                  <tr>
                    <th>Lemmon & Ginger</th>
                    <td>&euro;3.50</td>
                  </tr>
                  <tr>
                    <th>Mint</th>
                    <td>&euro;3.50</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Snacks collapsible -->
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="card color3">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-center">
                    <button class="btn btn-block" type="button" id="collapseThree">
                    Snacks
                    </button>
                </h2>
            </div>

            <div id="CollapsibleThree" class="collapse">
              <div class="card-body menu-card text-center">
                <img src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694900948/icwykp6df9yscafbqyew.webp" alt="Pain au chocolate" id="snack-image"/>
                <br />
                <table class="menu-table">
                  <tr>
                    <th>Doughnut</th>
                    <td>&euro;1.50</td>
                  </tr>
                  <tr>
                    <th>Traybake Selection</th>
                    <td>&euro;2.50</td>
                  </tr>
                  <tr>
                    <th>Croissant</th>
                    <td>&euro;2.00</td>
                  </tr>
                  <tr>
                    <th>Pain au Chocolate</th>
                    <td>&euro;2.00</td>
                  </tr>
                  <tr>
                    <th>Baklava</th>
                    <td>&euro;4.00</td>
                  </tr>
                  <tr>
                    <th>Cake Selection</th>
                    <td>&euro;4.00</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
