{% extends "base.html" %} {% block content %}
<section>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Menu</h1>
      <p class="lead text-center">
        Please see a list of all our menu items below. For any allergies or
        dietary requirements please speak to a member of staff.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="card color1">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-center">
                <button class="btn btn-block" type="button" id="collapseOne">
                  Coffee
                </button>
              </h2>
            </div>

            <div id="CollapsibleOne" class="collapse">
              <div class="card-body menu-card text-center">
                <img
                  src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694899776/ntoqrrffhe0qeaw4r16u.webp"
                  alt="coffee beans spelling out coffee"
                  id="coffee-image"
                /><br />
                Espresso......................................................&euro;3.00<br />
                Double
                Espresso...............................................&euro;4.50<br />
                Latte............................................................&euro;4.00<br />
                Caramel
                Latte......................................................&euro;4.50<br />
                Cappuccino......................................................&euro;4.00<br />
                Americano......................................................&euro;3.00<br />
                Mocha......................................................&euro;4.00<br />
                Iced
                Coffee......................................................&euro;4.00<br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="card color2">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-center">
                <button class="btn btn-block" type="button" id="collapseTwo">
                  Tea
                </button>
              </h2>
            </div>

            <div id="CollapsibleTwo" class="collapse">
              <div class="card-body menu-card text-center">
                <img
                  src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694900391/o8bfciemjj2w2tnntr5a.jpg"
                  alt="Cup of tea"
                  id="tea-image"
                /><br />
                Irish Breakfast
                Tea......................................................&euro;3.00<br />
                Peppermint...............................................&euro;3.50<br />
                Camomile............................................................&euro;3.50<br />
                Wild
                Berry......................................................&euro;3.50<br />
                Lemmon &
                Ginger......................................................&euro;3.50<br />
                Mint......................................................&euro;3.50<br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="card color3">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-center">
                <button class="btn btn-block" type="button" id="collapseThree">
                  Snacks
                </button>
              </h2>
            </div>

            <div id="CollapsibleThree" class="collapse">
              <div class="card-body menu-card text-center">
                <img
                  src="https://res.cloudinary.com/dcuhp2osv/image/upload/v1694900948/icwykp6df9yscafbqyew.webp"
                  alt="Pain au chocolate"
                  id="snack-image"
                /><br />
                Doughnut......................................................&euro;1.50<br />
                Traybake
                Selection...............................................&euro;2.50<br />
                Croissant............................................................&euro;2.00<br />
                Pain
                Chocolate......................................................&euro;2.00<br />
                Baklava......................................................&euro;4.00<br />
                Cake
                Selection......................................................&euro;4.00<br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
