{% extends "base.html" %} {% block content %}
<div class="col-sm-12 offset-md-4">
  <h3>Welcome {{user.username}}!</h3>
</div>
<section>
  <div>
    <h3>Profile information:</h3>
    <span><strong>Username:</strong> {{ user.username }}</span>
    <a href="{% url 'edit_user' user.id %}"> <button>Edit</button></a>
  </div>
</section>
<div>
  <h3>Bookings:</h3>
</div>
<div class="card-body">
  {% for booking in bookings %}
  <div>
    <p>
      <span
        ><strong>Name:</strong> {{ booking.customer.first_name }}
        {{booking.customer.last_name}}</span
      >
      <strong>Booking reference:</strong><span>{{ booking.id }}</span>
      <strong>Date:</strong><span>{{ booking.booking_date }}</span>
      <strong>Time:</strong><span>{{ booking.booking_time }} </span>
      <strong>Number attending:</strong
      ><span>{{booking.number_attending}}</span>
      <strong>Status:</strong>
      {% if booking.booking_status == 0 %} <span>To be confirmed</span
      ><a href="{% url 'edit_booking' booking.id booking.customer.id %}">
        <button>Edit</button></a
      >
      <a href="{% url 'delete_booking' booking.id booking.customer.id %}">
        <button>Delete</button>
      </a>
      {% elif booking.booking_status == 1 %}
      <span>Confirmed</span
      ><a href="{% url 'delete_booking' booking.id booking.customer.id %}">
        <button>Delete</button> </a
      >{%else%}<span>Cancelled</span
      ><a href="{% url 'delete_booking' booking.id booking.customer.id %}">
        <button>Delete</button> </a
      >{% endif %}
    </p>
  </div>
  {% endfor %}
</div>

{%endblock%}
